# PostgreSQL Database Connection
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=api
DB_SSL=false

# Alternatively, you can use a full connection string (e.g. AWS RDS / Neon / Supabase):
# DATABASE_URL=postgresql://user:password@rds-instance-endpoint.rds.amazonaws.com:5432/api

# Backend Server Port
PORT=5050
